<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jerp | Login</title>
  <link
          rel="stylesheet"
          type="text/css"
          th:href="@{/styles/stylesheet1.css}"
          href="../../static/styles/stylesheet1.css"
  />
</head>
<body>
<div class="card-wrapper">
  <div class="card">
    <header>
      <h1 class="heading-style-3">Login</h1>
    </header>
    <form action="#" method="POST" th:action="@{/login}">
      <fieldset>
        <fieldset>
          <legend>Name</legend>
          <label for="firstName">First Name</label>
          <input
            type="text"
            name="firstName"
            id="firstName"
          />
          <br />
          <label for="lastName">Last Name</label>
          <input
            type="text"
            name="lastName"
            id="lastName"
          />
          <br />
        </fieldset>
      </fieldset>
      <input type="submit" value="Login" />
    </form>
  </div>
</div>
</body>
</html>
