<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="maintemplate_style.css" />
    <title>Jerp | Rechnungsdaten</title>
  </head>
  <body>
    <header class="nav-bar"></header>
    <main class="flex-container main-container">
      <div class="document-view">
        <h2>Einsatzbestätigung</h2>
        <embed
          src="../GDD-Einsatzbestätigung.pdf"
          type="application/pdf"
          width="100%"
          height="100%"
          title="pdf"
        />
      </div>
      <div class="workbench">
      <form>
        <h2>Rechnungsdaten</h2>
        <div class="invoice-specifics">
          <fieldset class="last-invoice-number centered">
            <legend>Letzte Rechnung</legend>
            <p class="centered">
              <span id="lastClient"
                >Charité Virchow (CVK), Kinderklinik</span
              > Rechnungsnummer <span id="lastInvoiceNumer">15/2024</span>
              
            </p>
          </fieldset>
          <div class="next-invoice-number">
            <label for="invoiceNumberA">Nächste Rechnungsnummer:</label>
            <input
              th:value="*{id}"
              th:field="*{id}"
              type="number"
              size="2"
              name="invoiceNumberA"
              id="invoiceNumberA"
            />
            <label for="invoiceNumberB">/</label>
            <input
              th:value="*{helperInvoiceNumberB}"
              th:field="*{helperInvoiceNumberB}"
              type="number"
              size="4"
              name="invoiceNumberB"
              id="invoiceNumberB"
            />
          <input
            type="checkbox"
          />
          </div>
          <div class="billing-data">
            <div class="form-row-numerical">
              <label for="duration">Einsatzdauer</label>
              <input
                th:field="*{durationNumerical}"
                th:value="*{durationNumerical}"
                type="number"
                size="2"
                step="0.5"
                name="duration"
                id="duration"
              />
          <input
            type="checkbox"
          />
            </div>
            <div class="form-row-numerical">
              <label for="rate">Stundensatz</label>
              <input
                th:field="*{rateNumerical}"
                th:value="*{rateNumerical}"
                type="number"
                size="2"
                name="rate"
                id="rate"
              />
          <input
            type="checkbox"
          />
            </div>
          </div>
          <div class="centered travel-data">
            <label>Fahrtkostenerstattung?</label>
            <br />
            <label for="travelFee">
              <label for="isPaid">Ja</label>
              <input
                th:field="*{travelPaidInput}"
                th:value="true"
                th:checked="unchecked"
                type="radio"
                id="isPaid"
                name="isTravelPaid"
              />
              <label for="notPaid">Nein</label>
              <input
                th:field="*{travelPaidInput}"
                type="radio"
                th:checked="checked"
                id="notPaid"
                th:value="false"
                name="isTravelPaid"
              />
              <script>
                document.getElementById("notPaid").checked = true;
              </script>
            </label>
            <input
              th:field="*{travelFeeNumerical}"
              th:value="*{travelFeeNumerical}"
              type="number"
              size="2"
              name="travelFee"
              id="travelFee"
            />
          <input
            type="checkbox"
          />
          </div>
          <div class="sumTotal">
            <p >Gesamtsumme: 60 €</p>
          </div>
        </div>
        <div class="confirmation-specifics">
          <label for="deploymentDate">Einsatzdatum</label>
          <input
            th:field="*{deploymentDate}"
            th:value="*{deploymentDate}"
            type="text"
            id="deploymentDate"
          />
          <input
            type="checkbox"
          />
          <label for="interpretationLanguage">Dolmetschsprache</label>
          <input
            th:field="*{interpretationLanguage}"
            th:value="*{interpretationLanguage}"
            type="text"
            id="interpretationLanguage"
          />
          <input
            type="checkbox"
          />
          <label for="customer">Kunde / Kundin</label>
          <input
            th:field="*{customer}"
            th:value="*{customer}"
            type="text"
            id="customer"
            name="customer"
            size="40"
          />
          <input
            type="checkbox"
          />
          <label for="contractor">Auftraggeber</label>
          <input
            th:field="*{contractor}"
            th:value="*{contractor}"
            type="text"
            id="contractor"
            size="40"
          />
          <input
            type="checkbox"
          />
          <label for="invoiceAddress">Anschrift</label>
          <textarea
            th:field="*{invoiceAddress}"
            th:text="*{invoiceAddress}"
            id="invoiceAddress"
            rows="2"
            cols="40"
          ></textarea>
          <input class="last-checkbox"
            type="checkbox"
          />
        </div>
        <input type="submit" value="Vorschau">
      </form>
      </div>
    </main>
    <footer></header>
  </body>
</html>
