<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jerp</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/styles/stylesheet1.css}"
      href="../static/styles/stylesheet1.css"
    />
  </head>
  <body>
    <div class="flex-container">
      <div class="card-wrapper workbench">
        <div class="card">
          <div th:unless="${conf_loaded}">
            <form method="POST" enctype="multipart/form-data" action="#">
              <table>
                <tr>
                  <td>File to upload:</td>
                  <td><input type="file" name="file" /></td>
                </tr>
                <tr>
                  <td></td>
                  <td><input type="submit" value="Upload" /></td>
                </tr>
              </table>
            </form>
          </div>
          <embed
            th:each="file : ${files}"
            th:src="${file}"
            type="application/pdf"
            width="100%"
            height="100%"
            title="pdf"
          />
        </div>
      </div>
      <div class="card-wrapper workbench">
        <div class="card">
          <h1 class="heading-style-3">Rechnung bearbeiten</h1>
          <form action="#" th:action="@{/invoice_data}" method="post" th:object="${app}">
            <fieldset>
              <legend>Rechnungsdaten</legend>
              <label for="invoiceNumberA">Rechnungsnummer</label>
              <input type="number" name="invoiceNumberA" id="invoiceNumberA" />
              <label for="invoiceNumberB">/</label>
              <input type="number" name="invoiceNumberB" id="invoiceNumberB" />
            </fieldset>
            <fieldset>
              <legend>Kundendaten</legend>
              <label for="invoiceAddress">Anschrift</label>
              <textarea id="invoiceAddress" rows="5"></textarea>
            </fieldset>
            <fieldset>
              <legend>Einsatzdaten</legend>
              <label for="deploymentDate">Einsatzdatum</label>
              <input type="date" id="deploymentDate" for="deploymentDate" />
              <br />
              <label for="contractor">Auftraggeber</label>
              <input type="text" id="contractor" />
              <br />
              <label for="customer">Kunde</label>
              <input type="text" th:field="*{customer}" id="customer" name="customer"/>
              <br />
              <label for="interpretationLanguage">Dolmetschsprache</label>
              <input type="text" id="interpretationLanguage" />
            </fieldset>
            <fieldset>
              <legend>Abbrechnungsdaten</legend>
              <label for="duration">Einsatzdauer</label>
              <input type="number" step="0.5" name="duration" id="duration" />
              <br />
              <label for="rate">Stundensatz</label>
              <input type="number" name="rate" id="rate" />
              <br />
              <label for="isTravelPaid">Fahrtkostenerstattung?</label>
              <label for="isPaid">Ja</label>
              <input type="radio" id="isPaid" name="isTravelPaid" />
              <label for="notPaid">Nein</label>
              <input type="radio" th:checked="checked" id="notPaid" name="isTravelPaid" />
            </fieldset>
            <fieldset>
              <legend>Schlussformel</legend>
              <label for="signature">Unterschrift einfügen? </label>
              <label for="insertSignature">Ja</label>
              <input type="radio" th:checked="checked" id="insertSignature" name="signature" />
              <label for="noSignature">Nein</label>
              <input type="radio" id="noSignature" name="signature" />
            </fieldset>
            <fieldset>
              <legend>Rechnungssumme</legend>
              <label>Gesamt</label>
              <label for="sumTotal">0 €</label>
            </fieldset>
            <button type="reset">Abbrechen</button>
            <input type="submit" value="Fertigstellen" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
