<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jerp</title>
  <link
          rel="stylesheet"
          type="text/css"
          th:href="@{/styles/stylesheet1.css}"
  />
  <link
          rel="manifest"
          type="application/json"
          th:href="@{/manifest/manifest.json}"
  />
</head>
<body>
<div class="card-wrapper">
  <div class="card">
    <header>
      <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
      </form>
    </header>
    <h2>Upload Your Deployment Confirmation</h2>
      <form method="POST" enctype="multipart/form-data" th:action="@{/uploadConfirmation}">
        <table>
          <tr>
            <td>File to upload:</td>
            <td><input type="file" name="file" /></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Upload" /></td>
          </tr>
        </table>
      </form>
</div>
</div>
</body>
</html>