<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jerp</title>
  <link
          rel="stylesheet"
          type="text/css"
          th:href="@{/styles/stylesheet1.css}"
  />
</head>
<body>
<div class="flex-container">
  <div class="card-wrapper workbench">
    <div class="card">
      <embed
              th:src="@{/files/InvoiceView.pdf}"
              type="application/pdf"
              width="100%"
              height="100%"
              title="pdf"
      />
    </div>
  </div>
</div>
</body>
</html>