<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jerp</title>
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/styles/stylesheet1.css}"
    />
</head>
<body>
<div class="card-wrapper">
    <div class="card">
        <h2>You registered successfully!</h2>
        <h3>Please restart the application now!</h3>
    </div>
</div>
</body>
</html>