* {
  box-sizing: border-box;
}

html {
  background-color: #f9f4f1;
}

body {
  color: #232426;
  hyphens: none;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.heading-style-3 {
	color: #232426;
	letter-spacing: 0;
	font-family: Dinero Sans,Arial,sans-serif;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
}

.flex-wrapper-horizontal.vertical-align-middle {
	align-items: center;
	width: auto;
}

.flex-wrapper-horizontal {
	flex-flow: wrap;
	align-items: flex-start;
	display: flex;
	position: relative;
}

.card-wrapper {
  width: 100%;
  min-width: 480px;
  padding: 1.5rem;
  margin: auto;
}

@media screen and (min-width: 1420px) {
  .card-wrapper {
    width: 50%;
  }
}
   
.workbench {
  height: 100vh;
  min-width: 700px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: left;
  color: #68757d;
  background-color: #ff956a/*#e0f2ff*/;
  border-radius: 1rem;
  flex-flow: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-family: sans-serif;
  display: flex;
}
